@charset "utf-8";

// Import normalize css
@import "~normalize.css";

// STRUCTURE

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #111;
    font-family: sans-serif;
}
header, main, footer {
    align-self: center;
}
header {
    .header-image{
        margin: 2rem 0;
    }
}
main {
    min-height: 600px;
}
footer {
    text-align: center;
    padding: 2rem;
}
h1, h2, h3 {
    text-align: center;
}
h1 {
    line-height: 1.5rem;
}
p {
    font-size: 1.2rem;
}
a {
    text-decoration: none;
    color: #111;
    &:hover{
        color: #c21e41;
    }
}
.container {
    margin: 2rem;
    line-height: 2rem;
}
.container--fluid {
    margin: 1rem 0;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 1.6rem;
}
.card {
    flex: 0 1 99%;
    margin-bottom: 1.5rem;
    .card__content {
        padding: 1rem 0;
    }
}
.card--product {
    position: relative;
    .card__content {
        text-align: center;
        font-size: 1rem;
    }
    .card__price {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        background-color: #c21e41;
        padding: 0.5rem;
    }
}
.card--category {
    .card__content {
        text-align: center;
        a {
            font-size: 1.5rem;
        }
        p {
            margin: 0.25rem 0;
            font-size: 1rem;
        }
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 620px;
        width: 620px;
    }
    .card {
        flex: 0 2 49%;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1000px;
        width: 1000px;
    }
    .card {
        flex: 0 2 24%;
    }
}

// STYLES

#search {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    input {
        height: 3rem;
        font-size: 1rem;
        margin : 0.5rem 0;
    }
    input[type=input] {
        width: 70%;
        color: #333;
        padding: 0 1.5rem;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 1.5rem 0 0 1.5rem;
    }
    input[type=submit] {
        width: 30%;
        color: #fff;
        background-color: #c21e41;
        box-shadow: none;
        letter-spacing: 1px;
        border: 0;
        cursor: pointer;
        border-radius: 0 1.5rem 1.5rem 0;
    }
}
